[build]
  framework = "vite"
  publish = "client/dist/"
  command = "pnpm run ci && pnpm run test && pnpm run prisma:migrate:deploy && pnpm run build"

[functions]
  directory = "backend/src/functions/"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  autoLaunch = false
  targetPort = 5173
  command = "pnpm run msw:init && vite --config client/vite.config.ts"
